$def with (pagina)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Control de acceso a Internet</title>
	<link href="/static/css/all.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="page">
$:pagina['header']
$:pagina['menues']
<div id="fullcontent">
Usted puede:
<ul>
<li>Conectar y desconectar equipos de internet</li>
<li>Permitir el acceso sólo a sitios de colegio</li>
</ul>
Seleccione la opci&oacute;n del men&uacute; superior<br/>
<br/>
</div>
$:pagina['footer']
</div>
</body>
</html>
